*{
  margin:0;
  padding:0;
  text-decoration: none;
}


/*header*/
header {
  color: #424242;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  border: 1px solid #c5c6ca;
  border-radius: 7px;
  padding: 5px;
  margin-left: 390px;
}


header p{
  margin-left: 5px;
}

header .material-icons {
  font-size: medium;  
}


/*body*/
body{
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdanda, sans-serif;
}


/*sidebar*/
.sidebar{
  position: fixed;
  background: #e8e9ee;
  width: 200px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  user-select: none;
  list-style-type: none;
  animation-name: bar;
  animation-duration: 1s; 
  animation-fill-mode: forwards; 
}

.sidebar aside {
  margin: 100px 0;
}

.sidebar aside li{
  margin: 20px auto;
  padding: 0 40px;
  margin-top: 30px;
}

.sidebar aside li a{
  color: #424242;
  padding: 10px;
}

.sidebar aside li span {
  color: #3b7bdc;
  transform: translateY(20%);
}

.sidebar aside li:hover {
  margin-left: 20px;
}


/*home*/
.home {
  position: relative;
}

.home iframe {
  position: absolute;
  margin-top: 75px;
  margin-left: 440px;
}

.homepng{
  margin-left: 320px;
  width: 800px;
  height: 700px;
  background-image: url(https://www.sketchappsources.com/resources/source-image/imac-mockup-facebook.jpg);
  background-repeat: no-repeat;
  user-select: none;
}

.circle{
  margin-top: 250px;
  margin-left: 20px;
  width: 10px;
  height:10px;
  background-color: #3b7bdc;
  border-radius: 50%;
  position: absolute;
  animation: movecircle 1.5s infinite;
  position: absolute;
  user-select: none;
}

.circle:nth-child(2){
  left: 20px;
  animation-delay: .1s;
}

.circle:nth-child(3){
  left: 40px;
  animation-delay: .2s;
}

.circle:nth-child(4){
  left: 60px;
  animation-delay: .3s;
}

.circle:nth-child(5){
  left: 80px;
  animation-delay: .4s;
}

.circle:nth-child(6){
  left: 100px;
  animation-delay: .5s;
}

.circle:nth-child(7){
  left: 120px;
  animation-delay: .6s;
}

.circle:nth-child(8){
  left: 140px;
  animation-delay: .7s;
}


/*profile*/
.profile {
  margin-left: 450px;
  display: flex;
  user-select: none;
  padding-top: 200px;
}

.profile-jpg {
  margin-right: 100px;
  width: 200px;
  height: 280px;
}

.profile ul li{
  list-style-type: none;
  margin: 30px;
  color: #424242;
}

.profile ul li .icon {
  color: #3b7bdc;
}


/*skills*/
.skills {
  user-select: none;
  padding-top: 40px;
}

.skillspng{
  display: flex;
  margin-top: 250px;
  z-index: 2;
  height: 70px;
  position: absolute;  
}

.html-png{
  margin-left: 520px;
  margin-right: 140px;
}

.css-png{
  margin-right: 140px;
}

.folderpng{
  margin-left: 480px;
  margin-top: 200px;
  user-select: none;
  display: flex;
  z-index: 1;
  position: absolute;
}

.folder-png {
  width: 150px;
  margin-right: 50px;
}

.skilltext{
  color: #424242;
  margin-left: 530px;
  margin-top: 340px;
  position: absolute;
  display: flex;
}

.skilltext p {
  margin-right: 170px;
}

.skillp{
  margin-left: 400px;
  margin-top: 400px;
  color: #424242;
  background-color: #e8e9ee;
  border: 1px solid #c5c6ca;
  border-radius: 7px;
  padding: 20px;
  margin-right: 170px;
}

/*archive*/
.archive {
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  margin-left: 200px;
}

.archive-text{
  display:block;
  margin-left: 50px;
  color: #424242;
  z-index: 2;
}

.archive svg{
  margin-left: 300px;
  width: 40px;
  z-index: 2;
}

.archiveback{
  background-image: url(https://www.sketchappsources.com/resources/source-image/browser.png);
  background-size:70%;
  background-repeat: no-repeat;
  user-select: none;
  margin-top: -150px;
  margin-left: 200px;
  width: 1000px;
  height: 1000px;
  position: absolute;
  z-index: 1;
}


/*______________________________________*/
@keyframes bar {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes movecircle {
  0% {
    transform: translate(0,0) scale(1);
    background-color: #3b7bdc;;
  }
  50% {
    transform: translate(0,50px) scale(0.5);
    background-color: rgb(0, 255, 170);
  }
  100% {
    transform: translate(0,0) scale(1);
    background-color: #3b7bdc;
  }
}