*{
    margin:0;
    padding:0;
    text-decoration: none;
}

/*header*/
header {
    color: #424242;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    border: 1px solid #c5c6ca;
    border-radius: 7px;
    padding: 5px;
}


header p{
    margin-left: 5px;
}

header .material-icons {
    font-size: medium;  
}

/*body*/
body{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdanda, sans-serif;
}

/*sidebar*/
.sidebar{
    position: fixed;
    background: #e8e9ee;
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    user-select: none;
    list-style-type: none;
    animation-name: move;
    animation-duration: 1s; 
    animation-fill-mode: forwards; 
}

.sidebar aside {
    margin: 100px 0;
}

.sidebar aside li{
    margin: 20px auto;
    padding: 0 40px;
    margin-top: 30px;
}

.sidebar aside li a{
    color: #424242;
    padding: 10px;
}

.sidebar aside li span {
    color: #3b7bdc;
    transform: translateY(20%);
}

.sidebar aside li:hover {
    margin-left: 20px;
}

/*home*/
.home {
    position: relative;
}

.home iframe {
    position: absolute;
    margin-top: 75px;
    margin-left: 370px;
}

.homepng{
    margin-left: 250px;
    width: 800px;
    height: 700px;
    background-image: url(https://www.sketchappsources.com/resources/source-image/imac-mockup-facebook.jpg);
    background-repeat: no-repeat;
    user-select: none;
}

/*profile*/
.profile-jpg {
    margin-right: 100px;
    width: 200px;
    height: 290px;
}

.profile {
    margin-left: 350px;
    margin-top: 80px;
    display: flex;
    user-select: none;
}

.profile ul li{
    list-style-type: none;
    margin: 30px;
    color: #424242;
}

.profile ul li .icon {
    color: #3b7bdc;
}

/*skills*/
.skills {
    position: relative;
    user-select: none;
}

.skills-png{
    margin-left: 410px;
    margin-top: 255px;
    width: 130px;
    position: absolute;
    z-index: 2;
}

.folderpng{
    margin-left: 400px;
    margin-top: 200px;
    user-select: none;
    display: flex;
    position: absolute;
    z-index: 1;
}

.folder-png {
    width: 150px;
    margin-right: 50px;
}

.skilltext{
    color: #424242;
    margin-left: 420px;
    margin-top: 340px;
    position: absolute;
    display: flex;
}

.skilltext p {
    margin-right: 110px;
}

/*_______________*/
@keyframes move {
    from {
      transform: translateX(-300px);
    }
    to {
      transform: translateX(0px);
    }
  }